html{
    background-color:#F1EEE9;
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

/* Applies background images to appropriate pages */
.dnd{
    background-image: url("img/dnd-5e-sheet.jpg");
}

.pf{
    background-image: url("img/pf-2e-sheet.jpg");
}

/* Makes the header float above the content, allowing for the background images to show well */
header{
    text-align:center;
    padding:32px;
    color:white;
    padding:100px;
}

/* Styles the nav box. Separate from the link to better manage text wrapping */
header nav{
    margin:auto;
    background-color:white;
    border-radius:8pt;
    width:fit-content;
}


/* Styling for the header link that goes to the other page */
header a{
    color:black;
    font-size:16pt;
    text-decoration:none;
    padding-inline:15px;
    font-family:Helvetica;
}

/* Makes the header big and nicer to look at */
header h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:45pt;
    background-color:darkcyan;
    max-width:700px;
    text-align:center;
    margin:auto;
    margin-bottom:20px;
    padding:15px;
    border-radius:10px
}

/* Container for all of the sections */
.content{
    background-color: white;
    max-width:1000px;
    margin:auto;
    padding:50px;
    display:flex;
    flex-wrap:wrap;
}

/* sets of paragraphs and lists on a particular topic */
section{
    display:flex;
    flex-wrap:wrap;
    background-color:white;
    padding-inline:50px;
}

/* Section headings, currently used in content sections */
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Paragraphs, currently only used in content sections */
p{
    font-family:Helvetica
}
ul, ol{
    line-height: 1.5; /* Spaces the list items to make them more readable */
}

li{
    font-family:Helvetica;
}

@media (max-width:650px){
    header h1{
        font-size:30pt;
    }
    .content{
        line-height:1.5;
        padding:0px;
        font-size:11pt
    }
}