html{
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

/* Applies background images to appropriate pages */
.dnd{
    background-image: url("img/dnd-5e-sheet.jpg");
}

.pf{
    background-color:#F1EEE9;
    background-image: url("img/pf-2e-sheet.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}

.dnd{
    background-color:#F1EEE9;
    background-image: url("img/pf-2e-sheet.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}

/* Makes the header float above the content, allowing for the background images to show well */
header{
    text-align:center;
    color:white;
    padding:100px;
}

/* Styles the nav box. Separate from the link to better manage text wrapping */
header nav a{
    margin:auto;
    background-color:white;
    border-radius:8pt;
    width:fit-content;
}

/* Styling for the header link that goes to the other page */


header .btn{
    color:black;
    font-size:16pt;
    text-decoration:none;
    padding-inline:15px;
    background-color:#EEEEEE;
    border-radius:8pt;
}

header .btn:hover{
    background-color:#DDDDDD;
    text-decoration:none;
    color:black
}

/* Makes the header big and nicer to look at */
header h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:45pt;
    background-color:darkcyan;
    max-width:700px;
    text-align:center;
    margin:auto;
    margin-bottom:20px;
    padding:15px;
    border-radius:10px
}

/* Container for all of the sections */
.content{
    background-color: white;
    padding:24px;
    border-radius:16px;
}

/* sets of paragraphs and lists on a particular topic */
section{
    display:flex;
    flex-wrap:wrap;
    background-color:white;
    padding-inline:50px;
}
.content-section{
    background-color:#EEEEEE;
    border-radius:16pt;
    padding:15px
}

/* Section headings, currently used in content sections */
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Paragraphs, currently only used in content sections */
p{
    font-family:Helvetica
}
ul, ol{
    line-height: 1.5; /* Spaces the list items to make them more readable */
}

li{
    font-family:Helvetica;
}

@media (max-width:650px){
    header h1{
        font-size:24px;
    }
    header nav .btn{
        font-size: 16px
    }
    header{
        padding:20px
    }
}
